input[type=text] {
    width: 50%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
}

input[type=submit] {
    padding: 5px 15px;
    background-color: bisque;
    border-radius: 4px;
    cursor: pointer;
}

.cell {
    cursor: pointer;
}

.roomSelBox {
    background-color: rgb(226 232 240);
    width: 30% !important;
}

.hideRoomSel {
    background-color: rgb(148 104 70);
    color: white;
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle !important;
    text-align: center !important;
}

.hideRoomSel:hover {
    background-color: rgb(126 89 60);
}

.inputRoomIDBox {
    transition: all 0.3s linear;
}

.visuallyHidden {
    opacity: 0;
}

.hidden {
    display: none;
}